@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h3 {
    @apply text-text_title;
  }

  h4 {
    @apply text-primary;
  }

  h5 {
    @apply text-[19px] text-[#9F9E9E];
  }
}

@layer components {
  .gradient-right {
    @apply after:absolute after:right-0 after:left-[60%] after:top-0 after:bottom-0 after:bg-gradient-to-l after:from-[#0000000f] after:to-[#5a8cfa00];
  }

  .height-banner {
    @apply bg-banner 2xl:h-[90vh] lg:h-[90vh] md:h-[40vh];
  }

  .my {
    @apply py-7;
  }

  .center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
}

/* Swiper */
.swiper-button-prev {
  @apply !text-white !hidden !transition-all;
}

.swiper-button-next {
  @apply !text-white !hidden !transition-all;
}

.swiper:hover .swiper-button-prev {
  @apply !block;
}

.swiper:hover .swiper-button-next {
  @apply !block;
}

.swiper-course .swiper-button-next {
  @apply top-[40%] right-0;
}
.swiper-course .swiper-button-prev {
  @apply top-[40%] left-0;
}
.swiper-course .swiper-button-next::after {
  @apply !block !text-secondary text-[30px] text-center font-bold;
}
.swiper-course .swiper-button-prev::after {
  @apply !block !text-secondary text-[30px] text-center font-bold;
}

.pagetion-footer .swiper {
  @apply !relative pb-7;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-secondary !transition-all;
}

.bg_10 {
  background-position: center 10%;
}
.bg_40 {
  background-position: center 40%;
}
.videodemo::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.videodemo:hover::after {
  background-color: rgba(0, 0, 0, 0.815);
  opacity: 0.95;
}

.title_footer {
  @apply relative uppercase text-[28px] font-semibold;
}

.title_footer::after {
  content: "";

  @apply bg-secondary absolute bottom-0 left-0 w-[40%] h-[3px];
}

/* navbar */

.nav {
  position: sticky;
  background: white;
  top: 48.8px;
  transition: all 0.02s linear;
}

.nav.sticky {
  position: sticky;
  top: 120px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}



.gradient_banner {
  background: radial-gradient(
    circle,
    rgb(241, 239, 217) 0%,
    rgb(226, 225, 193) 20%,
    rgb(246, 233, 118) 80%
  );
}

.text_flip {
  -webkit-box-reflect: below -24px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.164));
}

.boxed {
  /* width: 300px;
  height: 300px; */
  @apply sm:min-h-[350px] md:min-h-[400px];
  position: relative;
  background-clip: padding-box;
  border: 10px solid transparent;
  background-color: white;
  border-radius: 14px;
}
.boxed:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -8px;
  background-image: linear-gradient(to right top, #2979ff, #07a787);
  border-radius: inherit;
  @apply drop-shadow-md;
}

.signs {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  height: 80px;
  width: 60%;
  z-index: 10;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
}

.signs:after {
  content: "";
  position: absolute;
  left: -14.5px;
  top: 0px;
  border-left: 15px solid transparent;
  border-bottom: 20px solid #01764d;
}
.signs:before {
  content: "";
  position: absolute;
  right: -14.5px;
  top: 0px;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #00755a;
}

.img-circle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply sm:w-[140px] sm:h-[140px] md:h-[180px] md:w-[180px];
  /* background-clip: border-box; */
  border: 20px solid transparent;

  background-image: radial-gradient(#2979ff, #07a787);
  padding: 20px;
  border-radius: 50%;
  z-index: 99;
}
.img-circle-children {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -10px;
  background-color: white;
  border-radius: inherit;
  @apply flex items-center justify-center;
}

.bg-gradient {
  @apply bg-gradient-to-r from-[#01c0db] to-[#01c5a6] sm:h-[350px] md:h-[470px];

  width: 100%;
  position: absolute;
  left: 0%;
  top: 63%;
  z-index: -1;
}

.circle-ab:nth-child(even) {
  position: relative;
}

.test:nth-child(even) {
  position: relative;
}

.circle-ab:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 63%;
  transform: translateY(-50%);
  left: -65px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  @apply lg:block sm:hidden;
}

.circle-ab:nth-child(even):before {
  content: "";
  position: absolute;
  top: 63%;
  transform: translateY(-50%);
  right: -65px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  @apply lg:block sm:hidden;
}
/*  */

article {
  padding: 30px;
  font-family: sans-serif;
  color: #fff;
  position: relative;
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #90ca26 0,
      #7cb415 0,
      #1f6728
    )
    no-repeat;
  background-repeat: no-repeat;
  border-radius: 5px;
}

article.curved-1 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #2aa0c6 0,
      #69cae3 0,
      #0581bf
    )
    no-repeat;
}
article.curved-2 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #367cba 0,
      #60aadf 0,
      #1147b7
    )
    no-repeat;
}
article.curved-3 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #e38700 0,
      #f49b01 0,
      #c13500
    )
    no-repeat;
}
article.curved-4 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #80027d 0,
      #93029a 0,
      #63009b
    )
    no-repeat;
}
article.curved-5 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #c90800 0,
      #f00000 0,
      #aa0000
    )
    no-repeat;
}
article.curved-6 {
  background: linear-gradient(
      -60deg,
      transparent 2.5em,
      #d3d4cf 0,
      #7cb415 0,
      #e26906
    )
    no-repeat;
}

article::after {
  content: "";
  width: 2.13em;
  height: 2.15em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: linear-gradient(-135deg, transparent 1.5em, #7bc2d2 0) no-repeat;
  border-bottom-left-radius: 5px;
  background-repeat: no-repeat;
}

article.curved::after {
  height: 87px;
  width: 25px;
  transform: translate(-10px, 4px) rotate(405.3deg);
  background: linear-gradient(
    to left bottom,
    transparent 50%,
    white 0,
    #a6afb3 31px,
    #e5ebec
  );
  box-shadow: 0 6px 4px -4px #112429;
}

article.curved::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  height: calc(100% + 20px);
  width: 1.5px;
  background: #b8b7b7;
  box-shadow: 1px 0px 2px 0px #112429;
}

.shadow-arrow {
  box-shadow: 3px 4px 3px 0px #9c9c9c;
}

.border-arrow {
  background: linear-gradient(to bottom, #6eb01a, #f7fac3) padding-box,
    linear-gradient(to bottom, #abd267, #acd366, #abd267) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}

.border-arrow-2 {
  background: linear-gradient(to bottom, #c10afb, #eb36fb) padding-box,
    linear-gradient(to bottom, #e35ff9, #db2efc, #dc29f6) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}
.border-arrow-1 {
  background: linear-gradient(to bottom, #019bc3, #00d6e6) padding-box,
    linear-gradient(to bottom, #01c1d3, #00c1d9, #02c2d4) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}
.border-arrow-3 {
  background: linear-gradient(to bottom, #0d0dee, #3645f8) padding-box,
    linear-gradient(to bottom, #2334ec, #242cf3, #3848f5) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}
.border-arrow-4 {
  background: linear-gradient(to bottom, #ef1e0a, #facd37) padding-box,
    linear-gradient(to bottom, #f29a5a, #f1751c, #f77b1c) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}
.border-arrow-5 {
  background: linear-gradient(to bottom, #ac0e0b, #ee5943) padding-box,
    linear-gradient(to bottom, #c7241b, #ce3627, #ce4d42) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}

.arrow-down:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-width: 12px;
  border-left-width: 7px;
  border-right-width: 7px;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}

.shadow-step {
  box-shadow: 0px 8px 5px -3px #e3e3e3;
}

.section::-webkit-scrollbar {
  width: 5px;
}
.section::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.section::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-primary to-secondary;
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
}

.section:hover::-webkit-scrollbar-thumb {
  display: block;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-primary to-secondary;
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
}

body:hover::-webkit-scrollbar-thumb {
  display: block;
}

.ql-editor {
  @apply text-base !p-0;
}

.ql-blank {
  min-height: 100px !important;
}

/* menumb */
.nav__toggler div {
  width: 30px;
  height: 3px;
  margin: 0.4rem;
  margin: 5px 0;
  border-radius: 40px;
  background: white;
  transition: all 0.2s ease-in;
}

.nav__toggler {
  cursor: pointer;
}

.line1.active {
  transform: rotate(-45deg) translate(-6.2px, 5px);
}

.line2.active {
  opacity: 0;
}

.line3.active {
  transform: rotate(45deg) translate(-6.2px, -5px);
}
