@import "../Variable/index";

.date {
  position: relative;
  z-index: 1;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  padding: 4px;
  border-radius: 14px;
  font-size: 14px;
  color: #fff;
  background: #fff;
  margin-right: 15px;
  vertical-align: middle;
}

.date::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 9px;
}

.date .date-cont {
  margin: -6px;
  border-radius: 9px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.date .day {
  font-size: 23px;
}

.date .month {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.date-count {
  position: relative;
}
.month::before {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.date .month::before {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.date .month > .span {
  display: block;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.date .date-cont > .span {
  text-align: center;
  display: block;
  min-width: 58px;
  box-sizing: border-box;
  padding: 0;
  height: 29px;
  line-height: 29px;
}

.date::before,
.date .month {
  background-color: #26b4d7;
}

.date {
  border-color: $primary;
}

.date:hover .month {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.date .date-cont::after,
.date .month::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.date:hover .month::before {
  opacity: 0;
}
.date .month::before {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.date:hover .month > .span {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.item .date .date-cont {
  margin: -6px;
  border-radius: 9px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.date .springs {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.date .springs:before,
.date .springs:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  border: 1px solid #fff;
  width: 4px;
  height: 10px;
  border-radius: 3px;
  background-color: $primary;
}
.date .springs:after {
  left: auto;
  right: 7px;
}
.span {
  text-align: center;
  display: block;
  min-width: 58px;
  box-sizing: border-box;
  padding: 0;
  height: 29px;
  line-height: 29px;
}


/*menumb*/


.nav__toggler div {
  width: 30px;
  height: 3px;
  margin: 0.4rem;
  margin: 5px 0;
  border-radius: 40px;
  background: black;
  transition: all 0.2s ease-in;
}

.nav__toggler {
  cursor: pointer;
}

.line1.active {
  transform: rotate(-45deg) translate(-6.2px, 5px);
}

.line2.active {
  opacity: 0;
}

.line3.active {
  transform: rotate(45deg) translate(-6.2px, -5px);
}

.icon-menu {
  position: relative;
}

.box {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 250px;
}
